@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);


body {
background-color: #734600;
/*opacity: .5;*/
}

.logo{
  width: 30%;
  height: 20%;
  position: relative;
  left: 35%;
}

h1 {
  text-decoration: none;
  color: yellow;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}



#search {
  border: 0px;
  background: transparent;
  outline: none;
  color: yellow;
  width: 30%;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  margin-left: 5%;
}


main{
position: relative;
}

#top_1 {
  margin-right: 0%;
  margin-left: 5%;
}

#bottom_1 {
  margin-right: 0%;
  margin-left: 5%;
  margin-top: 4%;

}

#bottom_2 {
  margin-right: 0%;
  margin-left: 5%;
  margin-bottom: 4%;

}

.section_1 {
  width: 100vw;
  height: 100vh;
  position: relative;

}

.box_1{
  position: relative;
  margin-left: 30%;
  width: 800px;
  height: 500px;
  border: white solid 5px;
  margin-top: 5%;
  margin-bottom: 4%;

}
.carousel{
  height: 250px;
  overflow: visible;
}
.carousel .carousel-item img{
  width: auto;
}

.buttons{
  display: block;
  width: 20%;
  height: 18%;
  position: absolute;
  top: 0%;
  left:4%;
  padding-top: 5px;
  padding-left: 42px;
  /*border: 2px black solid;*/
}
#now_playing_butt {
  color: yellow;
}

.waves-effect{
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: transparent;
  border: 3px white solid;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.title_now_playing ul{
  position: absolute;
  left: 1%;
  width: 300px;
  height: 520px;
  border: white solid 5px;
  margin-right: 8%;
  overflow: scroll;
}

ul li {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}
.section_2{
  position: relative;
  margin-left: 8%;
  width: 900px;
  height: 600px;
}
