@import url(https://fonts.googleapis.com/css?family=Amatic+SC:700);



body {
background-color: #734600;
}

.logo{
  width: 30%;
  height: 20%;
  position: relative;
  left: 35%;
}

h1 {
  text-decoration: none;
  color: yellow;
  font-family: 'Amatic SC', cursive;
  font-size: 80px;
}



#search {
  border: 0px;
  background: transparent;
  outline: none;
  color: yellow;
  width: 30%;
  font-size: 40px;
  font-family: 'Amatic SC', cursive;
  margin-left: 5%;
}

.button_jump_right{
  display: block;
  width: 20%;
  height: 18%;
  position: absolute;
  top: 4%;
  left: 78%;
  padding-top: 0px;
  padding-left: 42px;
}

#spoiled_tweets_butt {
  color: yellow;
}

.header_for_twitter {
  width: 80%;
  height: 10%;
  position: absolute;
  top: 0%;
  left: 105%;
}

#movie_review_tweets{
  width: 35%;
  height: 35%;
  color: yellow;
  font-size: 40px;
  margin-right: 29%;
}

.ahref_potato{
  width: 70px;
  height: 75px;
  position: absolute;
  top: 18%;
  left: 48%;
}

#movie_quotes_tweets{
  width: 35%;
  height: 35%;
  color: yellow;
  font-size: 40px;
}

main{
position: relative;
}


#top_1 {
  margin-right: 0%;
  margin-left: 5%;
}

#middle {
  /*margin-right: 0%;*/
  margin-left: 10%;
  margin-top: 5%;

}

#bottom_2 {
  margin-right: 0%;
  margin-left: 5%;
  margin-bottom: 3%;
  margin-top: 4%;
}

.section_1 {
  width: 100vw;
  height: 100vh;
  position: relative;

}

.box_1{
  position: relative;
  margin-left: 30%;
  width: 800px;
  height: 500px;
  border: white solid 5px;
  margin-top: 5%;
  margin-bottom: 4%;

}
.carousel{
  height: 250px;
  overflow: visible;
}
.carousel .carousel-item img{
  width: auto;
}
.button_now_playing{
  display: block;
  width: 20%;
  height: 18%;
  position: absolute;
  top: 0%;
  left:4%;
  padding-top: 5px;
  padding-left: 42px;
}

#now_playing_butt {
  color: yellow;
}

.waves-effect{
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: transparent;
  border: 3px white solid;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}


.box_movie_review_twitter{
  border: 6px black solid;
  width: 600px;
  height: 1313px;
  position: absolute;
  left: 100%;
  top: 3%;
}

.box_movie_quote_twitter{
  border: 6px black solid;
  width: 600px;
  height: 1313px;
  position: absolute;
  left: 150%;
  top: 3%;
}

.title_now_playing ul{
  position: absolute;
  left: 1%;
  width: 300px;
  height: 520px;
  border: white solid 5px;
  margin-right: 8%;
  overflow: scroll;
  padding-left: 15px;
}

 .class_title_inTheaters {
  color: white;
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

div .modal-content {
  background-color: black;
  color: white;
  border: #F1C40E 2px solid;
}

.p_tags{
  font-family: 'Amatic SC', cursive;
  font-size: 25px;
}

.section_2 {
  width: 100vw;
  height: 100vh;
  position: relative;
}

.box_2{
  position: relative;
  margin-left: 30%;
  width: 800px;
  height: 500px;
  border: white solid 5px;
  margin-top: 5%;
  margin-bottom: 0%;

}
.box_2 .carousel{
  height: 250px;
  overflow: visible;
}
.box_2 .carousel .carousel-item img{
  width: auto;
}
.button_coming_soon{
  display: block;
  width: 20%;
  height: 18%;
  position: absolute;
  top: 0%;
  left:4%;
  padding-top: 5px;
  padding-left: 42px;
}

#coming_soon_butt {
  color: yellow;
}

.waves-effect{
  margin-top: 40px;
  margin-bottom: 50px;
  background-color: transparent;
  border: 3px white solid;
  font-family: 'Amatic SC', cursive;
  font-size: 30px;
}

.title_upComing ul{
  position: absolute;
  left: 1%;
  width: 300px;
  height: 520px;
  border: white solid 5px;
  margin-right: 8%;
  overflow: scroll;
  padding-left: 15px;
}

.class_title_upComing {
 color: white;
 font-family: 'Amatic SC', cursive;
 font-size: 25px;
}
